@charset "utf-8";
/* CSS Document */
input{
	float: right;
}
.text-center{
	height:650px;
	
}


@media (min-width: 576px) {
.form-check-input{
	margin-left: 30%;

}
}
@media (max-width: 576px) {
.form-check-input{
	font-size: 15px;
	padding-top: 80px;
}
}
